#
# Note: This is a sample ImageBasedInstallConfig file showing
# which fields are available to aid you in creating your
# own image-based-installation-config.yaml file.
#
apiVersion: v1beta1
kind: ImageBasedInstallationConfig
metadata:
  name: image-based-installation-config
seedImage: "${SEED_IMAGE}"
seedVersion: "${SEED_VERSION}"
installationDisk: "${INSTALLATION_DISK}"
extraPartitionLabel: var-lib-containers
extraPartitionStart: "${IBI_EXTRA_PARTITION_START}"
pullSecret: |
  ${PULL_SECRET}
sshKey: |
  ${SSH_KEY}
